<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Team name</th>
      <th>Bio</th>
      <th>Coach</th>
      <th>League</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><a href='/teams/<%=team.id%>'><%= team.team_name %><a/></td>
        <td><%= team.bio %></td>
        <td><%= team.coachID %></td>
        <td><%= League.where(id: team.league_id).first.league_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <%= link_to "Teams", new_team_path%>
