<p id="notice"><%= notice %></p>

<h1>Teams</h1>
<hr>

<center>
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="list-group">
  <% @teams.each do |team| %>
    <a class="list-group-item" href='/teams/<%=team.id%>'>
      <div class="row">
        <div class="col-xs-4">
          <img src="/assets/team_<%= team.id %>.png" style="width: 60%;"/>
        </div>
        <div class="col-xs-8">
          <h4 class="list-group-item-heading"><%= League.where(id: team.league_id).first.league_name %></h4>
          <p class="list-group-item-text">
            <% if team.coachID != ''%>
              <%= User.find(String(team.coachID)).first_name %> <%= User.find(String(team.coachID)).last_name %>
            <% else %>
              <!--No coach for this team-->
            <% end %>
          </p>
          <p class="list-group-item-text"><%= team.bio %></p>
        </div>
      </div>
    </a>
  <% end %>
  </div>
  </div>
</center>
