<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1><strong><%= @team.team_name %></strong></h1>
    <img class="team_logo" src="/assets/team_<%= @team.id %>.logo" style="width:80%"/>
    <h3><%= League.find(String(@team.league_id)).league_name %></h3>
    <p><strong>Coach:</strong></p>
    <p class="team-bio"><%= @team.bio %></p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h3>Players</h3>
      <% players = Player.where(team_id: @team.id); if players.count > 0 %>
      <div class="list-group">
        <% players.each do |player|; user = User.where(player_id: player.id).first %>
        <a href='/players/<%= player.id %>' class="list-group-item players">
          <h4 class="list-group-item-heading"><%= player.ign %></h4>
          <%= player.in_game_role %>
        </a>
        <% end %>
      </div>
      <% else %>
        <p class="no-players">No players on this team</p>
      <% end %>
  </div>
</div>
