<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @team.team_name %></strong>
</h1>

<p class="team-bio">
  <%= @team.bio %>
</p>

<p>
  <strong>League:</strong>
  <%= League.find(String(@team.league_id)).league_name %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @team.coachID %>
</p>

<%= link_to 'Back', teams_path %>
