<p id="notice"><%= notice %></p>

<p>
  <strong>Bio:</strong>
  <%= @team.bio %>
</p>

<p>
  <strong>Coachid:</strong>
  <%= @team.coachID %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>League:</strong>
  <%= @team.league %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
