<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-0" style="text-align:center;">
    <h1><strong><%= @team.team_name %></strong></h1>
    <img class="team_logo" src="/assets/team_<%= @team.id %>.png"/>
    <h3><%= League.find(String(@team.league_id)).league_name %></h3>
    <h4 class="team_coach">
      <% if @team.coachID != ''%>
        <%= User.find(String(@team.coachID)).first_name%> <%= User.find(String(@team.coachID)).last_name%>
      <% else %>
        <!--No coach for this team-->
      <% end %>
    </h4>
    <h5 class="team-bio"><%= @team.bio %></h5>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
    <h3>Players</h3>
      <% players = Player.where(team_id: @team.id); if players.count > 0 %>
      <div class="list-group">
        <% players.each do |player| %>
        <a href='/teams/<%= player.team_id%>/players/<%=player.id=%>' class="list-group-item players">
          <h4 class="list-group-item-heading"><%= player.ign %></h4>
          <%= player.in_game_role %>
        </a>
        <% end %>
      </div>
      <% else %>
        <p class="no-players">No players on this team</p>
      <% end %>
      <% if user_signed_in? %>
        <% if @team.coachID == String(current_user.id) %>
        <%= link_to "Add Player", new_team_player_path(@team.id) %>
        <% end %>
      <% end %>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
    <h3>Team Stats</h3>
    <% team_stats = Statistic.where(team_id: @team.id); %>
    <ul class="list-group" style="color:black;font-size:20px;">
      <li class="list-group-item"><b>Kills:</b> <div class="label label-info"><%= team_stats.sum("kills") %></div></li>
      <li class="list-group-item"><b>Deaths:</b> <div class="label label-info"><%= team_stats.sum("deaths") %></div></li>
      <% if team_stats.count > 0 %>
      <li class="list-group-item"><b>Wins:</b> <div class="label label-info"><%= team_stats.sum("wins")/team_stats.count %></div></li>
      <li class="list-group-item"><b>Losses:</b> <div class="label label-info"><%= team_stats.sum("losses")/team_stats.count %></div></li>
      <li class="list-group-item"><b>Games Played:</b> <div class="label label-info"><%= team_stats.sum("games_played")/team_stats.count %></div></li>
      <% else %>
      <li class="list-group-item"><b>Games Played:</b> <div class="label label-info">0</div></li>
      <% end %>
    </ul>
  </div>
</div>
