<p id="notice"><%= notice %></p>

<h4>Leagues</h4>

<table>
  <thead>
    <tr>
      <th>League name</th>
      <th>Prize money</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.prize_money %></td>
        <td><%= league.league_name %></td>
        <td><small><%= link_to 'Show', league %></small></td>
        <td><small><%= link_to 'Edit', edit_league_path(league) %></small></td>
        <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New League', new_league_path %>
