<!DOCTYPE html>
<html>

  <p id="notice"><%= notice %></p>

  <h1>Leagues</h1>

  <center>
    <div class="row">
      <div class="col-lg-6">
        <h2>League:</h2>
      </div>

      <div class="col-lg-6">
        <h3>Prize:</h3>
      </div>
    </div>

    <% @leagues.each do |league| %>
      <div class="row">
        <div class="col-lg-6">
          <a href='/leagues/<%=league.id%>'>
            <img src="/images/league_<%= league.id %>.jpg" class="img-fluid" style="width: 40%; height: 40%"/>
            <h4>
              <%= league.league_name %>
            </h4>
          </a>
          <br>
        </div>

        <div class="col-lg-6">
          <h4>
            $<%= league.prize_money %>
          </h4>
        </div>
      </div>
    <% end %>
  </center>
</html>
