<h1>Favorites</h1>
<% if user_signed_in? %>
  <% Favorite.where(user_id: current_user.id).each do |favorite| %>
    <div class="row">
    <% if favorite.teamID != "" %>
      <% team = Team.where(id: favorite.teamID).first %>
      <div class="col-xs-4">
        <a href="/teams/<%= team.id %>"><%= team.team_name %></a>
      </div>
      <div class="col-xs-4">
        <%= link_to 'Edit', edit_favorite_path(favorite) %>
      </div>
      <div class="col-xs-4">
        <%= link_to 'Delete', favorite, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% else %>
      <% if favorite.playerID != "" %>
      <% player = Player.where(id: favorite.playerID).first %>
      <div class="col-xs-4">
        <a href="/players/<%= player.id %>"><%= player.ign %></a>
      </div>
      <div class="col-xs-4">
        <%= link_to 'Edit', edit_favorite_path(favorite) %>
      </div>
      <div class="col-xs-4">
        <%= link_to 'Delete', favorite, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% else %>
      <p>Invalid favorite object. Team ID and Player ID are set</p>
      <% end %>
    <% end %>
  </div> <!-- div.row -->
  <% end %>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= link_to 'New Favorite', new_favorite_path %>
    </div>
  </div>

  <p id="notice"><%= notice %></p>

<% else %>
  <p>Please sign in to add and edit favorites</p>
<% end %>
