<h1>Favorites</h1>
<% if user_signed_in? %>
  <ul class="list-group">
  <% Favorite.where(user_id: current_user.id).each do |favorite| %>
    <% if favorite.teamID != "" %>
    <% team = Team.where(id: favorite.teamID).first %>
      <li class="list-group-item">
        <h3 class="list-group-item-heading"><a href="/teams/<%= team.id %>"><%= team.team_name %></a></h3>
        <p class="list-group-item-text"><%= link_to 'Delete', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </li>
    <% else %>
      <% if favorite.playerID != "" %>
      <% player = Player.where(id: favorite.playerID).first %>
      <li class="list-group-item">
        <h3 class="list-group-item-heading"><a href="/players/<%= player.id %>"><%= player.ign %></a></h3>
        <p class="list-group-item-text"><%= link_to 'Delete', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </li>
      <% else %>
        <p>Invalid favorite object. Both Team ID and Player ID are set</p>
      <% end %>
    <% end %>
  <% end %>
  </ul>

  <div class="row">
    <div class="col-xs-4" style="font-size:20px;">
      <%= link_to 'New Favorite', new_favorite_path %>
    </div>
  </div>

<% else %>
  <p>Please sign in to add and edit favorites</p>
<% end %>
