<p id="notice"><%= notice %></p>

<h1>Results</h1>
<% @matches.each do |match| %>
<div class = "col-xs-6 col-lg-4">
  <div class="list-group">
    <a href = '/matches/<%=match.id%>' class="list-group-item">
        <b><%= League.where(id: match.league_id).first.league_name %> <br>
        <%= match.match_date_time.to_date %></b>
        <table>
            <tbody>
            <tr>
              <td> <%= Team.where(id: match.team1ID).first.team_name %></td>
              <td> <%= match.team1Score %></td>
              </tr><br>
            <tr>
              <td>  <%= Team.where(id: match.team2ID).first.team_name %></td>
              <td>  <%= match.team2Score %></td>
              </tr>
            </tbody>
        </table>
        </a>
    </div>
  </div>


          <% end %>

      </html>
