<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Region</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.region %></td>
        <td><%= user.player%></td>
        <td><%= link_to 'Show', user_path(user.id) %></td>
        <% if current_user.has_any_role? :admin %>
        <td><%= link_to 'Edit', edit_user_path(user.id) %></td>
        <!-- <td><%= link_to "Delete",users_path, method: :delete, data: {confirm: 'Are you sure?'} %></td> -->
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
