<div class="home_favorites">
  <% if user_signed_in? %>
    <h1><%= current_user.first_name %> <%= current_user.last_name %>'s Favorites</h1>
    <h6><a href="<%= favorites_url %>">Add / Edit Favorites</a></h6>
    <% favorites = Favorite.where(user_id: current_user.id).all; if favorites.length > 0 %>
    <% Favorite.where(user_id: current_user.id).all.each do |favorite| %>
    <div class="row">
      <div class="col-xs-12">
        <% if favorite.teamID != "" %>
        <% team = Team.where(id: favorite.teamID).first %>
        <a href="/teams/<%= team.id %>"><%= team.team_name %></a>
        <% else %>
        <% player = Player.where(id: favorite.playerID).first %>
        <a href="/players/<%= player.id %>"><%= player.ign %></a>
        <% end %>
      </div>
    </div>
    <% end %>
    <% else %>
      <p>User has no favorites. Click <a href="/favorites">here</a> to add favorites!</p>
    <% end %>
  <% end %>
</div>

<!-- Upcoming Mathces -->
<h1>Upcoming Matches</h1>
<hr>
<% League.all.each do |league| %>
<div class="row" style="border:1px solid lightgray">
  <div class="col-xs-12 col-sm-6">
    <!-- image -->
    <a href="/leagues/<%= league.id %>">
      <img src="/assets/league_<%= league.id %>.jpg" style="width:100%;padding-top:2px;padding-bottom:6px;"/>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 upcoming_match">
  <% match = Match.where(league_id: league.id).order('match_date_time ASC').first; if match != nil %>
  <% team1 = Team.where(id: match.team1ID).first; team2 = Team.where(id: match.team2ID).first; %>
    <a href="/teams/<%= team1.id %>">
      <img class="upcoming_matches_team_logo" src="/assets/images/team_<%= team1.id %>.png"/>
    </a>
    <a href="/matches/<%= match.id %>">
      <%= match.match_date_time.strftime("%m-%d-%Y @ %H:%M") %>
    </a>
    <a href="/teams/<%= team2.id %>">
      <img class="upcoming_matches_team_logo" src="/assets/images/team_<%= team2.id %>.png"/>
    </a>
  <% else %>
    <h3>No upcoming matches for this team</h3>
  <% end %>
  </div>
</div>
<% end %>

<!-- Upcoming Events Section -->
<h1><br><br><font face="Serif" color="#ffffff">Upcoming Events</font></h1>
<hr>
<div class="container">
  <div class="row">
      <div class="col-md-2">
        <%= image_tag("giveaway.jpg", width:"150px", height: "150px")%>
      </div>
    <div class="col-sm-9 col-lg-9">
      <font face="Courier New" color="#474D95">3 Dec 2016</font>
      <br>
      Guys!
      <br>
      <font face="sans-serif">  We are going to give away items related to the event. Follow us on Facebook, Twitter and Twicht for a chance to receive one of the followings: 1 x NVIDA GTX 1080 Founder Edition, 2 x Razer Tournament Mechanical Keyboards, 1 x i7-6990k, 2 x Corsair 8GB DDR4 RAM ... </font>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
        <%= image_tag("inferno.jpg", width:"150px", height: "140px")%>
    </div>
    <div class="col-sm-9 col-lg-9">
      <font face="Courier New" color="#474D95">5 Dec 2016</font>
      <br>
      <font face="sans-serif">From its iconic layout to its core gameplay, Inferno has been an instant classic and a mainstay in competitive CS:GO through the years. Inferno is now available in the Reserves Map Group. Try it out and give us your feedback! </font>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
        <%= image_tag("faker.jpg", width:"150px", height: "145px")%>
    </div>
    <div class="col-sm-9 col-lg-9">
      <font face="Courier New" color="#474D95">9 Dec 2016</font>
      <br>
      <font face="sans-serif"> The LCK Champion has finally arrived in the states. Its brightest star "Faker" is going to have an interview with us on Saturday (12/18) at 13:00 MT. Stay tuned! </font>
    </div>
  </div>
</div>

<!-- Youtube videos -->
<div class="game_snapshots">
  <h1><br><br>Latest Videos</h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <iframe width="100%" height="349" src="//www.youtube.com/embed/_fOssLa1R0w" allowfullscreen>
        <html lang="en" dir="ltr">
      </iframe>
    </div>
    <div class="col-xs-12 col-md-6">
      <iframe width="100%" height="349" src="//www.youtube.com/embed/02I5vVxlJhU" allowfullscreen>
        <html lang="en" dir="ltr">
      </iframe>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <iframe width="100%" height="349" src="//www.youtube.com/embed/wrC1r8haao0" allowfullscreen>
        <html lang="en" dir="ltr">
      </iframe>
    </div>
    <div class="col-xs-12 col-md-6">
      <iframe width="100%" height="349" src="//www.youtube.com/embed/7BgQ239HXuE" allowfullscreen>
        <html lang="en" dir="ltr">
      </iframe>
    </div>
  </div>
</div>
