<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Ign</th>
      <th>In game role</th>
      <th>Country</th>
      <th>Age</th>
      <th>Team</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player|; user = User.where(player_id: player.id).first %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= player.ign %></td>
        <td><%= player.in_game_role %></td>
        <td><%= player.country %></td>
        <td><%= player.age %></td>
        <td><%= Team.where(id: player.team_id).first.team_name %></td>
        <td><%= link_to 'Show', player %></td>
      </tr>
    <% end %>
  </tbody>
</table>
