<p id="notice"><%= notice %></p>

<% user = User.where(id: @player.user_id).first %>

<h1><%= @player.ign %></h1>


<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>

<p>
  <strong>Country:</strong>
  <%= @player.country %>
</p>

<p>
  <strong>In game role:</strong>
  <%= @player.in_game_role %>
</p>

<p>
  <strong>Team:</strong>
  <%= Team.where(id: @player.team_id).first.team_name %>
</p>

<%= link_to 'All Players', players_path %>
