<p id="notice"><%= notice %></p>

<% user = User.where(player_id: @player.id).first %>

<h1><%= @player.ign %></h1>
<h4><%= user.first_name %> <%= user.last_name %></h4>

<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>

<p>
  <strong>Country:</strong>
  <%= @player.country %>
</p>

<p>
  <strong>In game role:</strong>
  <%= @player.in_game_role %>
</p>

<p>
  <strong>Team:</strong>
  <%= Team.where(id: @player.team_id).first.team_name %>
</p>

<%= link_to 'All Players', players_path %>
