<p id="notice"><%= notice %></p>

<div class="col-xs-12 col-sm-6">
<% user = User.where(id: @player.user_id).first %>
<h2><%= @player.ign %></h2>
<h5>
  <strong>Age:</strong>
  <%= @player.age %>
</h5>
<h5>
  <strong>Country:</strong>
  <%= @player.country %>
</h5>
<h5>
  <strong>In game role:</strong>
  <%= @player.in_game_role %>
</h5>
<h5>
  <strong>Team:</strong>
  <%= Team.where(id: @player.team_id).first.team_name %>
</h5>
</div>
<div class="col-xs-12 col-sm-6"><h3>Player Stats:</h3>
  <% player_stats = Statistic.where(player_id: @player.id); %>
  <div class="list-group">
  <b> Kills:</b>  <%= player_stats.sum("kills") %><br>
  <b> Deaths:</b>  <%= player_stats.sum("deaths") %><br>
  <b> Wins:</b>  <%= player_stats.sum("wins") %><br>
  <b> Losses:</b>  <%= player_stats.sum("losses") %><br>
  </div>
</div>

<%= link_to 'All Players', team_path(@player.team_id) %>
<% if user_signed_in? && ((current_user.id == @player.user_id) || (String(current_user.id) == Team.find(@player.team_id).coachID) || (current_user.has_role? :admin)) %>
  <%= link_to 'Edit Information', edit_player_path %>
<% end %>
<% if user_signed_in? && ((String(current_user.id) == Team.find(@player.team_id).coachID) || (current_user.has_role? :admin)) %>
  <%= link_to 'Remove Player', @player, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
