<p id="notice"><%= notice %></p>

<h1>Search results</h1>

<table>
  <thead>
    <tr>
      <th>Leagues Found</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>

       <!-- <td><%= link_to search.attributes.keys, search %></td>-->
        <% if search.has_attribute?("league_name") %>    
          <td><%= link_to search.league_name, search %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Teams Found</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>

       <!-- <td><%= link_to search.attributes.keys, search %></td>-->
        <% if search.has_attribute?("team_name") %>    
          <td><%= link_to search.team_name, search %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
