<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th>Team 1</th>
      <th>Team 2</th>
      <th>Match Date/Time</th>
      <th>Location</th>
      <th>Team1score</th>
      <th>Team2score</th>
      <th>League</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= Team.where(id: match.team1ID).first.team_name %></td>
        <td><%= Team.where(id: match.team2ID).first.team_name %></td>
        <td><%= match.match_date_time %></td>
        <td><%= match.location %></td>
        <td><%= match.team1Score %></td>
        <td><%= match.team2Score %></td>
        <td><%= League.where(id: match.league_id).first.league_name %></td>
        <td><%= link_to 'Show', match %></td>
      </tr>
    <% end %>
  </tbody>
</table>
