<p id="notice"><%= notice %></p>

<p>
  <strong>Team1id:</strong>
  <%= @match.team1ID %>
</p>

<p>
  <strong>Team2id:</strong>
  <%= @match.team2ID %>
</p>

<p>
  <strong>Match Date/Time:</strong>
  <%= @match.match_date_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @match.location %>
</p>

<p>
  <strong>Team1score:</strong>
  <%= @match.team1Score %>
</p>

<p>
  <strong>Team2score:</strong>
  <%= @match.team2Score %>
</p>

<p>
  <strong>League:</strong>
  <%= League.where(id: @match.league_id).first.league_name %>
</p>

<%= link_to 'Back', matches_path %>
