<!-- Slideshow -->

<div class="w3-content w3-display-container" style="height:250px;width:100%">
  <img class="mySlides" src="/assets/league_1.jpg" style="height:250px;width:100%">
  <img class="mySlides" src="/assets/league_2.jpg" style="height:250px;width:100%">
  <img class="mySlides" src="/assets/league_3.jpg" style="height:250px;width:100%">
  <img class="mySlides" src="/assets/league_4.jpg" style="height:250px;width:100%">
  <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
  <a class="w3-btn-floating w3-display-right" onclick="plusDivs(1)">&#10095;</a>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

<!-- Header nav bar -->
<header>
  <div class="nav">
    <ul>
      <li><a href="/">eSports</a></li>
      <li><a href="/leagues">Leagues</a></li>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/statistics">Results</a></li>
      <li><a href="/about">About</a></li>
      <% if user_signed_in? %>
      <li><%= link_to "Inbox", mailbox_inbox_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-secondary" %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
     
       
        
        
       </ul>
   
  </div>
</header>
<div style="float:right; padding:10px;">
        <%= form_tag(searches_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Leagues, Teams, Players.." %>
        <%= submit_tag "Search", :name => nil %>
        <% end %>
</div>