<!DOCTYPE html>
<html>
  <head>
    <title>eSports</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    
    <br> 
    
    <h1>Upcoming Matches</h1>
      <%= image_tag("image1.jpg", :title => "Team 1 vs Team 2 today @ 10:30 AM", :size => "260x180") %>
      <%= image_tag("image1.jpg", :title => "Team 3 vs Team 4 today @ 12:30 PM", :size => "260x180") %>
      
      <div> <br> </div>
      
      <div>
        <%= image_tag("image1.jpg", :title => "Team 1 vs Team 4 tomorrow @ 10:30 AM", :size => "260x180") %>
        <%= image_tag("image1.jpg", :title => "Team 2 vs Team 3 tomorrow @ 12:30 PM", :size => "260x180") %>
      </div>

    <br>
    <br>
    
    <h1>Game Snapshots</h1>
    
    <%= yield %>
        
    <%= render "layouts/footer" %>
  </body>
</html>
